## Importing Pandas

In [3]:
import pandas as pd

In [6]:
#instantiating a pandas dataframe object
df = pd.DataFrame()
#creating a column of numeric attributes
df['num1'] = [10, 23, 45, 90, 46, 34, 10]
#creating a column with fractional variables
df['frac'] = [0.234, 0.123, 0.4353, 21.34, 45.00, 30.20, 90.045]
#creating categorical columns
df['cat1'] = ['a', 'b', 'c', 'd', 'a', 'c', 'b']
df['cat2'] = ['x', 'y', 'x', 'x', 'y', 'y', 'x']
#creating a dummy datetime column
df['date_col'] = ['1990-08-3', '2000-07-21', '1998-06-17', '2021-06-30', '1776-07-4', '2001-09-11', '2010-02-17']

## Print out Different parts of the code.

In [7]:
df.head(3)

   num1    frac cat1 cat2    date_col
0    10  0.2340    a    x   1990-08-3
1    23  0.1230    b    y  2000-07-21
2    45  0.4353    c    x  1998-06-17

In [8]:
 #A statistical summary of your numeric columns can be obtained as:
df.describe()

            num1       frac
count   7.000000   7.000000
mean   36.857143  26.768186
std    27.739434  32.876148
min    10.000000   0.123000
25%    16.500000   0.334650
50%    34.000000  21.340000
75%    45.500000  37.600000
max    90.000000  90.045000

In [9]:
 #to determine the memory consumption of each colum in bytes:- this is important in evaluating the suitability of your computing resources
df.memory_usage(deep=True)

Index       128
num1         56
frac         56
cat1        406
cat2        406
date_col    467
dtype: int64

In [ ]:
 #To know the datatypes of our columns:
df.info()